body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

nav a {
    color: rgb(7, 114, 7);
}

h1 {
    color: rgb(7, 114, 7);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 200px;
    text-decoration-line: underline;
}

header img {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(7, 114, 7)
}

.center {
    text-align: center;
    color: rgb(7, 114, 7);
}

h4 {
    text-align: center;
}

h2 {
text-align: center;
    padding: 16px;
}

h6 {
     display: flex;
    justify-content: space-between;
}

ul {
   
    align-items: center;
    padding: 16px;
    color: white; 
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

footer img{

    margin: 7.7%;
    display: flexbox;
    justify-content: center;
    width: 250px; 
    height: 250px;
    border-radius: none;
    border: none
    
}    

h5 {
    text-align: left;
}

main img {

    margin: 8.5%;
    display: flexbox;
    justify-content: center;
    width: 220px; 
    height: 220px;
    border-radius: 50%;
    border: 5px solid rgb(7, 114, 7)
}
